language: python
python:
  - "3.4"

services: mongodb

before_script:
  - sleep 15
# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: python setup.py -q install
# command to run tests, e.g. python setup.py test
script:  python setup.py -q test